---
title:     Simon Ganz
layout: layout
pageable: true
per_page: 10
changefreq: "daily"
priority: 1
---

- page_articles.each do |article|
  %article
    = partial "layouts/post_header", locals: {article: article}
    = article.body
    %small
      %a{href: "#{article.url}#disqus_thread", class: "comments-link"}
    %hr.postDivider

.pagination
  %ul
    %li{:class => prev_page ? "" : "disabled"}
      - if prev_page
        =link_to "&#8592;", prev_page.url
      - else
        %span &#10072;&#8592;
    - (page_number - 2 .. page_number + 2).select{|i| i > 0 && i <= num_pages}.each do |i|
      - if i == page_number
        %li.active
          %span= i
      - else
        %li
          - p = nil
          - (i ... page_number).each do p = p ? p.metadata[:locals]['prev_page'] : prev_page; end
          - (page_number ... i).each do p = p ? p.metadata[:locals]['next_page'] : next_page; end
          =link_to "#{i}", p && p.url
    %li{:class => next_page ? "" : "disabled"}
      - if next_page
        =link_to "&#8594;", next_page.url
      - else
        %span &#8594;&#10072;
        
:javascript
  var disqus_shortname = 'simonganz';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());